body{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
h1.Desayunos{
    font-style:italic ;
    font-weight: bold;
    text-align: center;
    
}
span.Titulo{
    background-color: rgba(165, 42, 42, 0.521);
}
div.Pri{
    display: inline-flex;
    background-color: rgba(165, 42, 42, 0.473);
    border-style: dashed;
    border: brown 5px dashed;

}
hr{
    background-color: brown 1px;
    border: brown 1px dashed;
}

div.Sec{
    display: contents;
}
h3{
  font-style: italic;  
  font-weight: bold;
}

h2{
  font-style: italic; 
  font-weight: bold;
}
